absl-py==0.7.0
astor==0.7.1
gast==0.2.2
grpcio==1.18.0
h5py==2.9.0
Keras==2.2.4
Keras-Applications==1.0.7
keras-mdn-layer==0.2
Keras-Preprocessing==1.0.9
Markdown==3.0.1
numpy==1.16.1
protobuf==3.6.1
PyYAML==3.13
scipy==1.2.1
six==1.12.0
tensorboard==1.12.2
tensorflow==1.12.0
tensorflow-probability==0.5.0
termcolor==1.1.0
Werkzeug==0.14.1
